/*
RESET BROWSER STYLE
*/
/* line 5, scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
/* line 18, scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 21, scss/_reset.scss */
body {
  overflow-x: hidden; }

/* line 26, scss/_reset.scss */
ol, ul {
  list-style: none; }

/* line 29, scss/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 33, scss/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 38, scss/_reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 42, scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variables */
/*HOME*/
/* MEDIA QUERY */
/* mixins */
@-webkit-keyframes logo {
  0% {
    margin-right: 5px;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  50% {
    margin-right: 50px;
    -webkit-transform: rotateZ(-40deg);
            transform: rotateZ(-40deg); }
  75% {
    margin-right: -15px; }
  100% {
    margin-right: 5px;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); } }
@keyframes logo {
  0% {
    margin-right: 5px;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); }
  50% {
    margin-right: 50px;
    -webkit-transform: rotateZ(-40deg);
            transform: rotateZ(-40deg); }
  75% {
    margin-right: -15px; }
  100% {
    margin-right: 5px;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0); } }
@-webkit-keyframes dash {
  to {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    fill: rgba(255, 255, 255, 0.4); } }
@keyframes dash {
  to {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    fill: rgba(255, 255, 255, 0.4); } }
@-webkit-keyframes dashRole {
  0% {
    stroke-dasharray: 0, 1000000000000000;
    fill: none; }
  100% {
    stroke-dasharray: 700, 0;
    fill: #fff; } }
@keyframes dashRole {
  0% {
    stroke-dasharray: 0, 1000000000000000;
    fill: none; }
  100% {
    stroke-dasharray: 700, 0;
    fill: #fff; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@-webkit-keyframes arrows {
  0% {
    border-left: 3px solid rgba(255, 255, 255, 0);
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    -webkit-transform: translate(-3.3333333333px, -13.3333333333px) rotate(-45deg);
            transform: translate(-3.3333333333px, -13.3333333333px) rotate(-45deg); }
  10%,
    90% {
    border-left: 3px solid rgba(255, 255, 255, 0);
    border-bottom: 3px solid rgba(255, 255, 255, 0); }
  50% {
    border-left: 3px solid rgba(255, 255, 255, 0.7);
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
    -webkit-transform: translate(-3.3333333333px, 0px) rotate(-45deg) scale(1.4);
            transform: translate(-3.3333333333px, 0px) rotate(-45deg) scale(1.4); }
  100% {
    border-left: 3px solid rgba(255, 255, 255, 0);
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    -webkit-transform: translate(-3.3333333333px, 13.3333333333px) rotate(-45deg);
            transform: translate(-3.3333333333px, 13.3333333333px) rotate(-45deg); } }
@keyframes arrows {
  0% {
    border-left: 3px solid rgba(255, 255, 255, 0);
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    -webkit-transform: translate(-3.3333333333px, -13.3333333333px) rotate(-45deg);
            transform: translate(-3.3333333333px, -13.3333333333px) rotate(-45deg); }
  10%,
    90% {
    border-left: 3px solid rgba(255, 255, 255, 0);
    border-bottom: 3px solid rgba(255, 255, 255, 0); }
  50% {
    border-left: 3px solid rgba(255, 255, 255, 0.7);
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
    -webkit-transform: translate(-3.3333333333px, 0px) rotate(-45deg) scale(1.4);
            transform: translate(-3.3333333333px, 0px) rotate(-45deg) scale(1.4); }
  100% {
    border-left: 3px solid rgba(255, 255, 255, 0);
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    -webkit-transform: translate(-3.3333333333px, 13.3333333333px) rotate(-45deg);
            transform: translate(-3.3333333333px, 13.3333333333px) rotate(-45deg); } }
@-webkit-keyframes slide-in {
  0% {
    right: -1000px;
    opacity: 0;
    top: -50px; }
  50% {
    right: 0;
    opacity: 0.5; }
  99% {
    right: 0;
    opacity: 1; }
  100% {
    right: 0;
    opacity: 0; } }
@keyframes slide-in {
  0% {
    right: -1000px;
    opacity: 0;
    top: -50px; }
  50% {
    right: 0;
    opacity: 0.5; }
  99% {
    right: 0;
    opacity: 1; }
  100% {
    right: 0;
    opacity: 0; } }
/* line 1, scss/_common.scss */
html, body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden; }

/* line 29, scss/_common.scss */
.button {
  cursor: pointer;
  margin: 30px 20px;
  display: inline-block;
  width: 180px;
  height: auto;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 15px 30px;
  background-color: #8f4dae;
  font-weight: 700;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  @media (max-width: 768px) {
    /* line 29, scss/_common.scss */
    .button {
      margin: 10px 20px; }
      /* line 46, scss/_common.scss */
      .button:nth-child(1) {
        margin-top: 30px; } }
  /* line 50, scss/_common.scss */
  .button:hover {
    background-color: #552e67; }

/* line 54, scss/_common.scss */
h3 {
  text-align: center;
  margin: 10px 0 30px;
  font-size: 37px;
  color: #424242;
  font-weight: 700;
  padding-bottom: 50px; }

/* line 1, scss/_header.scss */
header {
  height: 60vh;
  background-color: #3d8f90;
  background-image: url("img/hero.jpg");
  background-position: center;
  background-size: cover; }
  /* line 7, scss/_header.scss */
  header .logo {
    width: 170px;
    height: 170px; }

/* line 12, scss/_header.scss */
.nav__container {
  background-color: rgba(54, 125, 126, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  @media (max-width: 767px) {
    /* line 12, scss/_header.scss */
    .nav__container {
      position: fixed;
      background-color: rgba(54, 125, 126, 0.8); } }
  /* line 22, scss/_header.scss */
  .nav__container .toggleLink {
    display: block;
    width: 50px;
    height: 50px;
    text-align: left; }
    /* line 27, scss/_header.scss */
    .nav__container .toggleLink img {
      width: 40px;
      height: 40px;
      margin: 5px;
      fill: #fff; }
  /* line 34, scss/_header.scss */
  .nav__container .mobileName {
    position: absolute;
    width: 200px;
    text-align: left;
    top: 0;
    left: 60px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: left .5s ease-in-out;
    transition: left .5s ease-in-out; }
    /* line 44, scss/_header.scss */
    .nav__container .mobileName.open {
      left: calc(100vw + 200px); }

/* line 49, scss/_header.scss */
nav {
  height: 50px;
  width: 100%;
  line-height: 50px;
  -webkit-transition: height .4s ease-in-out;
  transition: height .4s ease-in-out; }
  @media (max-width: 767px) {
    /* line 49, scss/_header.scss */
    nav {
      display: none;
      height: 0; }
      /* line 57, scss/_header.scss */
      nav.open {
        display: block;
        width: 100vw;
        height: 100vh;
        z-index: 101; } }
  /* line 64, scss/_header.scss */
  nav ul {
    width: 100%;
    height: 100%; }
    @media (max-width: 767px) {
      /* line 64, scss/_header.scss */
      nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    /* line 72, scss/_header.scss */
    nav ul li {
      display: inline-block;
      width: 20%;
      font-weight: 700;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      @media (max-width: 767px) {
        /* line 72, scss/_header.scss */
        nav ul li {
          display: block;
          width: 100%; } }
      /* line 81, scss/_header.scss */
      nav ul li:hover {
        background-color: rgba(31, 72, 72, 0.5); }
      /* line 84, scss/_header.scss */
      nav ul li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none; }
        @media (max-width: 767px) {
          /* line 84, scss/_header.scss */
          nav ul li a {
            font-size: 20px; } }

/* line 98, scss/_header.scss */
.header--top {
  text-align: center;
  color: #efefef;
  z-index: 100; }
  @media (max-width: 767px) {
    /* line 98, scss/_header.scss */
    .header--top {
      padding-top: 50px; } }
  /* line 105, scss/_header.scss */
  .header--top h2 {
    font-weight: 700;
    padding-top: 30px;
    font-size: 35px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
    margin-bottom: 10px; }
  /* line 112, scss/_header.scss */
  .header--top h3 {
    font-weight: 700;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
    color: #fff; }
/* line 119, scss/_header.scss */
.header__logo {
  background-color: #a66fbf;
  border-radius: 50%;
  border: 4px solid #efefef;
  position: absolute;
  z-index: 99;
  top: 60vh;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2); }

/* line 2, scss/_home.scss */
.home__container {
  width: 100%;
  min-height: 100vh; }
/* line 6, scss/_home.scss */
.home__intro {
  width: 100%;
  margin: 0 auto 20px;
  height: auto;
  background-color: white;
  border: 1px solid #ededed;
  padding-bottom: 100px; }
  /* line 13, scss/_home.scss */
  .home__intro h1 {
    font-size: 28px;
    letter-spacing: -0.5px;
    margin-bottom: 8px; }
  /* line 18, scss/_home.scss */
  .home__intro p {
    color: #424242;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    max-width: 70%;
    letter-spacing: 1.5px; }
/* line 27, scss/_home.scss */
.home__social {
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 0 40px;
  text-align: center; }
  /* line 31, scss/_home.scss */
  .home__social a {
    display: inline-block; }
  /* line 34, scss/_home.scss */
  .home__social i {
    margin: 9px;
    font-size: 42px;
    color: #aaa;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear; }
    /* line 39, scss/_home.scss */
    .home__social i:hover {
      color: black; }
    /* line 44, scss/_home.scss */
    .home__social i.ion-social-twitter:hover {
      color: #50ABF1; }
    /* line 49, scss/_home.scss */
    .home__social i.ion-social-googleplus:hover {
      color: #DD4B39; }
    /* line 54, scss/_home.scss */
    .home__social i.ion-social-linkedin:hover {
      color: #0084B1; }
/* line 60, scss/_home.scss */
.home__me {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px; }
  /* line 64, scss/_home.scss */
  .home__me p {
    padding: 0 2%; }
/* line 68, scss/_home.scss */
.home__carousel {
  padding: 50px 0 130px 0;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  /* line 74, scss/_home.scss */
  .home__carousel .slider-decorator-0 a, .home__carousel .slider-decorator-1 a {
    display: block;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    background-image: url("img/chevron.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  /* line 87, scss/_home.scss */
  .home__carousel .slider-decorator-0 {
    left: 10px !important; }
  /* line 90, scss/_home.scss */
  .home__carousel .slider-decorator-1 {
    right: 10px !important; }
    /* line 92, scss/_home.scss */
    .home__carousel .slider-decorator-1 a {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  /* line 97, scss/_home.scss */
  .home__carousel .slider-decorator-2 {
    bottom: -80px !important; }

/* line 103, scss/_home.scss */
p strong, h1 strong, h2 strong, h3 strong {
  color: #723d8b;
  font-weight: 500;
  position: relative; }

/* line 1, scss/_card.scss */
.cards {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  @media (max-width: 768px) {
    /* line 1, scss/_card.scss */
    .cards {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      padding: 0 8px; } }
  /* line 9, scss/_card.scss */
  .cards__container {
    padding: 50px 0;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative; }
    /* line 14, scss/_card.scss */
    .cards__container:before {
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0);
      top: 0;
      content: '';
      width: 90%;
      height: 1px;
      opacity: 0.5;
      position: absolute;
      background: -webkit-gradient(linear, left top, right top, from(#8f4dae), to(#4db2b3));
      background: linear-gradient(to right, #8f4dae, #4db2b3); }
  /* line 26, scss/_card.scss */
  .cards__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 40px 0; }
    /* line 29, scss/_card.scss */
    .cards__buttons a {
      text-decoration: none; }
      /* line 31, scss/_card.scss */
      .cards__buttons a:link, .cards__buttons a:visited {
        color: #efefef; }

/* line 37, scss/_card.scss */
.card {
  max-width: 350px;
  margin: 0 10px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12); }
  @media (max-width: 768px) {
    /* line 37, scss/_card.scss */
    .card {
      margin: 10px auto; } }
  /* line 48, scss/_card.scss */
  .card:nth-child(2) .card__logo {
    background-color: #94d1d2; }
  /* line 52, scss/_card.scss */
  .card__logo {
    padding: 50px 0 40px;
    text-align: center;
    background-color: #bb92cf; }
    /* line 56, scss/_card.scss */
    .card__logo img {
      max-width: 120px; }
  /* line 60, scss/_card.scss */
  .card__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 10px;
    text-transform: uppercase;
    color: #424242; }
  /* line 68, scss/_card.scss */
  .card__text {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 80px;
    color: #424242;
    line-height: 1.5; }

/* line 1, scss/_experience.scss */
.experience {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  position: relative; }
  /* line 6, scss/_experience.scss */
  .experience:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: #4db2b3;
    left: 50%; }
    @media (max-width: 767px) {
      /* line 6, scss/_experience.scss */
      .experience:before {
        left: 96%; } }
  /* line 17, scss/_experience.scss */
  .experience__container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    /* line 22, scss/_experience.scss */
    .experience__container ul {
      width: 100%; }
      /* line 24, scss/_experience.scss */
      .experience__container ul .expcard {
        clear: both;
        width: calc(50% - 30px);
        height: auto;
        position: relative;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12); }
        @media (max-width: 767px) {
          /* line 24, scss/_experience.scss */
          .experience__container ul .expcard {
            width: 88%;
            margin-bottom: 70px; } }
        /* line 34, scss/_experience.scss */
        .experience__container ul .expcard:nth-child(odd) {
          float: left; }
        /* line 40, scss/_experience.scss */
        .experience__container ul .expcard:nth-child(even) {
          float: right; }
          @media (max-width: 767px) {
            /* line 40, scss/_experience.scss */
            .experience__container ul .expcard:nth-child(even) {
              float: left; } }
        /* line 47, scss/_experience.scss */
        .experience__container ul .expcard.even:before {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-top: 16px solid #424242;
          border-left: 16px solid transparent;
          left: -16px;
          top: 0; }
          @media (max-width: 767px) {
            /* line 47, scss/_experience.scss */
            .experience__container ul .expcard.even:before {
              left: auto;
              right: -16px;
              border-right: 16px solid transparent; } }
        /* line 62, scss/_experience.scss */
        .experience__container ul .expcard.even .ion-ios-circle-filled {
          left: -41px; }
          @media (max-width: 767px) {
            /* line 62, scss/_experience.scss */
            .experience__container ul .expcard.even .ion-ios-circle-filled {
              left: auto;
              right: -9.5vw; } }
        /* line 71, scss/_experience.scss */
        .experience__container ul .expcard.odd:before {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-top: 16px solid #424242;
          border-right: 16px solid transparent;
          right: -16px;
          top: 0; }
        /* line 81, scss/_experience.scss */
        .experience__container ul .expcard.odd .ion-ios-circle-filled {
          right: -44px; }
          @media (max-width: 767px) {
            /* line 81, scss/_experience.scss */
            .experience__container ul .expcard.odd .ion-ios-circle-filled {
              right: -9.5vw; } }
        /* line 88, scss/_experience.scss */
        .experience__container ul .expcard.second {
          margin-top: -60px; }
        /* line 91, scss/_experience.scss */
        .experience__container ul .expcard.third {
          margin-top: -50px; }
        /* line 94, scss/_experience.scss */
        .experience__container ul .expcard.fourth {
          margin-top: -60px; }
        /* line 97, scss/_experience.scss */
        .experience__container ul .expcard__title {
          width: calc(100% - 40px);
          height: 30px;
          padding: 20px;
          background-color: #424242;
          color: #efefef; }
          /* line 103, scss/_experience.scss */
          .experience__container ul .expcard__title p {
            color: #efefef;
            font-weight: 700;
            line-height: 30px;
            font-size: 19px; }
        /* line 110, scss/_experience.scss */
        .experience__container ul .expcard__text {
          width: calc(100% - 40px);
          height: auto;
          padding: 20px; }
          /* line 114, scss/_experience.scss */
          .experience__container ul .expcard__text p {
            padding: 0 20px; }
            /* line 116, scss/_experience.scss */
            .experience__container ul .expcard__text p.expcard__location {
              padding-bottom: 10px; }
            /* line 119, scss/_experience.scss */
            .experience__container ul .expcard__text p.expcard__date {
              padding-bottom: 10px; }
        /* line 125, scss/_experience.scss */
        .experience__container ul .expcard .ion-ios-circle-filled {
          font-size: 30px;
          color: #4db2b3;
          position: absolute;
          top: -15px;
          right: 0; }

/* line 1, scss/_skill.scss */
.skills__container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 767px) {
    /* line 1, scss/_skill.scss */
    .skills__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  /* line 8, scss/_skill.scss */
  .skills__container h3 {
    width: 100%; }

/* line 12, scss/_skill.scss */
.skill {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2b2b2b;
  width: 31%;
  color: #efefef;
  padding: 10px 20px 40px; }
  @media (max-width: 767px) {
    /* line 12, scss/_skill.scss */
    .skill {
      width: 90%;
      margin: 20px 5%; } }
  /* line 22, scss/_skill.scss */
  .skill h4 {
    font-weight: 700;
    text-align: center;
    padding: 10px 0 20px;
    font-size: 25px; }
  /* line 28, scss/_skill.scss */
  .skill p {
    padding-top: 5px; }

/* line 2, scss/_blog.scss */
.blog-cat__container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 80vh; }
  /* line 6, scss/_blog.scss */
  .blog-cat__container h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #dedede;
    margin-bottom: 50px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-shadow: 0 0 0 white; }
  /* line 14, scss/_blog.scss */
  .blog-cat__container .link-more {
    display: none; }
/* line 18, scss/_blog.scss */
.blog-cat__post {
  width: 310px;
  margin-top: 10px;
  margin-bottom: 10px; }
  /* line 22, scss/_blog.scss */
  .blog-cat__post h3 {
    padding-bottom: 0;
    margin-bottom: 10px; }
  /* line 26, scss/_blog.scss */
  .blog-cat__post a {
    text-decoration: none; }
    /* line 28, scss/_blog.scss */
    .blog-cat__post a:link, .blog-cat__post a:visited {
      color: #424242;
      text-decoration: none; }
/* line 34, scss/_blog.scss */
.blog-cat__image {
  width: 310px;
  height: 310px; }
  /* line 37, scss/_blog.scss */
  .blog-cat__image img {
    width: 100%;
    height: 100%; }
/* line 43, scss/_blog.scss */
.blog-cat__excerpt p {
  text-decoration: none; }
/* line 48, scss/_blog.scss */
.blog-cat__link p {
  display: block;
  padding-top: 10px;
  color: #8f4dae; }
  /* line 52, scss/_blog.scss */
  .blog-cat__link p:hover {
    text-decoration: underline; }

/* line 2, scss/_single.scss */
.blog__container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }
  /* line 6, scss/_single.scss */
  .blog__container h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #424753;
    margin-bottom: 50px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-shadow: 0 0 0 white; }
  /* line 14, scss/_single.scss */
  .blog__container .link-more {
    display: none; }
/* line 18, scss/_single.scss */
.blog__post {
  width: 100%;
  max-width: 1200px; }
/* line 23, scss/_single.scss */
.blog__image img {
  width: 100%;
  height: auto;
  max-height: 400px; }

/* line 1, scss/_portfolio.scss */
.portfolio {
  background: #efefef;
  min-height: 80vh;
  padding-top: 70px; }
  /* line 5, scss/_portfolio.scss */
  .portfolio__content {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  /* line 9, scss/_portfolio.scss */
  .portfolio h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #424242;
    margin-bottom: 50px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-shadow: 0 0 0 white;
    padding-top: 50px; }
  /* line 18, scss/_portfolio.scss */
  .portfolio__box {
    position: relative;
    width: 48%;
    max-width: 960px;
    padding: 20px 10px;
    top: 0;
    z-index: 1;
    -webkit-transition: all 0.5s cubic-bezier(0.17, 0.67, 0.5, 1);
    transition: all 0.5s cubic-bezier(0.17, 0.67, 0.5, 1); }
    @media (max-width: 767px) {
      /* line 18, scss/_portfolio.scss */
      .portfolio__box {
        width: 96%;
        margin: 20px 0;
        -webkit-box-shadow: 1px 1px 50px 10px rgba(143, 77, 174, 0.1);
                box-shadow: 1px 1px 50px 10px rgba(143, 77, 174, 0.1); } }
    /* line 33, scss/_portfolio.scss */
    .portfolio__box:nth-child(even) .portfolio__img img {
      border-radius: 100px 0 100px 0; }
    /* line 40, scss/_portfolio.scss */
    .portfolio__box:nth-child(odd) .portfolio__img img {
      border-radius: 0 100px 0 100px; }
    /* line 45, scss/_portfolio.scss */
    .portfolio__box:last-child {
      margin-bottom: 60px; }
  /* line 50, scss/_portfolio.scss */
  .portfolio__img {
    width: 100%; }
    /* line 52, scss/_portfolio.scss */
    .portfolio__img img {
      width: 100%;
      display: block;
      -webkit-box-shadow: 0 1px 5px 0 #424242;
              box-shadow: 0 1px 5px 0 #424242;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      /* line 57, scss/_portfolio.scss */
      .portfolio__img img:hover {
        -webkit-box-shadow: none;
                box-shadow: none;
        -webkit-transform: scale(0.95);
                transform: scale(0.95); }
  /* line 63, scss/_portfolio.scss */
  .portfolio__links {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0; }
    /* line 68, scss/_portfolio.scss */
    .portfolio__links p {
      padding-left: 10px;
      color: #424242;
      font-weight: 500;
      text-shadow: 0 0 0 white;
      font-size: 1.08rem; }
  /* line 76, scss/_portfolio.scss */
  .portfolio__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    /* line 78, scss/_portfolio.scss */
    .portfolio__tags a {
      display: inline-block;
      min-width: 80px;
      height: 20px;
      padding: 2px 10px;
      margin: 5px;
      line-height: 20px;
      text-align: center;
      font-size: 0.9rem;
      background: #8f4dae;
      color: #efefef;
      -webkit-box-shadow: 0 1px 5px 0 #424242;
              box-shadow: 0 1px 5px 0 #424242;
      text-decoration: none; }
      /* line 91, scss/_portfolio.scss */
      .portfolio__tags a:hover {
        background: #4db2b3; }
  /* line 97, scss/_portfolio.scss */
  .portfolio hr {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
    max-width: 960px;
    height: 3px;
    background: #efefef;
    border: none;
    -webkit-box-shadow: 0 1px 5px 0 #424242;
            box-shadow: 0 1px 5px 0 #424242; }

/* line 1, scss/_workshop.scss */
.workshop {
  min-height: 80vh; }
  /* line 3, scss/_workshop.scss */
  .workshop h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #424242;
    margin-bottom: 50px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-shadow: 0 0 0 white;
    padding-top: 120px; }
  /* line 12, scss/_workshop.scss */
  .workshop p {
    text-align: center; }

/* line 2, scss/_resume.scss */
.resume__container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px; }
/* line 8, scss/_resume.scss */
.resume__intro {
  width: 100%;
  margin: 0 auto 20px;
  height: auto;
  padding-bottom: 20px; }
  /* line 14, scss/_resume.scss */
  .resume__intro h1 {
    font-size: 28px;
    letter-spacing: -0.5px;
    margin-bottom: 8px; }
  /* line 19, scss/_resume.scss */
  .resume__intro p {
    color: #424242;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    max-width: 70%;
    letter-spacing: 1.5px; }
/* line 28, scss/_resume.scss */
.resume__social {
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 0 40px;
  text-align: center; }
  /* line 32, scss/_resume.scss */
  .resume__social a {
    display: inline-block; }
  /* line 35, scss/_resume.scss */
  .resume__social i {
    margin: 9px;
    font-size: 42px;
    color: #aaa;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear; }
    /* line 40, scss/_resume.scss */
    .resume__social i:hover {
      color: black; }
    /* line 45, scss/_resume.scss */
    .resume__social i.ion-social-twitter:hover {
      color: #50ABF1; }
    /* line 50, scss/_resume.scss */
    .resume__social i.ion-social-googleplus:hover {
      color: #DD4B39; }
    /* line 55, scss/_resume.scss */
    .resume__social i.ion-social-linkedin:hover {
      color: #0084B1; }
/* line 61, scss/_resume.scss */
.resume__me {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px; }
  /* line 65, scss/_resume.scss */
  .resume__me p {
    padding: 0 2%; }

/* line 71, scss/_resume.scss */
p strong, h1 strong, h2 strong, h3 strong {
  color: #723d8b;
  font-weight: 500;
  position: relative; }

/* line 1, scss/_footer.scss */
footer {
  width: 100%;
  height: 60px;
  background-color: #2b2b2b; }
  @media (max-width: 500px) {
    /* line 1, scss/_footer.scss */
    footer {
      height: auto; } }

/* line 10, scss/_footer.scss */
.footer__content {
  width: 60px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  @media (max-width: 500px) {
    /* line 10, scss/_footer.scss */
    .footer__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
/* line 19, scss/_footer.scss */
.footer__logo {
  height: 60px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  @media (max-width: 500px) {
    /* line 19, scss/_footer.scss */
    .footer__logo {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  /* line 26, scss/_footer.scss */
  .footer__logo img {
    height: 40px;
    width: auto;
    margin: 10px 20px 0 0; }
/* line 32, scss/_footer.scss */
.footer__copy {
  text-align: center; }
  /* line 34, scss/_footer.scss */
  .footer__copy p {
    line-height: 60px;
    color: #efefef;
    font-size: 0.75rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px; }
/* line 42, scss/_footer.scss */
.footer__social {
  height: 60px;
  text-align: center; }
  /* line 48, scss/_footer.scss */
  .footer__social > div {
    width: 33.33%;
    -ms-flex-preferred-size: 1;
        flex-basis: 1; }
  /* line 52, scss/_footer.scss */
  .footer__social a {
    display: inline-block;
    height: 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear; }
    /* line 57, scss/_footer.scss */
    .footer__social a:hover {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
  /* line 61, scss/_footer.scss */
  .footer__social i {
    line-height: 60px;
    margin: 0 25px;
    font-size: 24px;
    color: #aaa;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    color: #efefef; }
    /* line 68, scss/_footer.scss */
    .footer__social i.ion-social-twitter {
      color: #50ABF1; }
    /* line 71, scss/_footer.scss */
    .footer__social i.ion-social-googleplus {
      color: #DD4B39; }
    /* line 74, scss/_footer.scss */
    .footer__social i.ion-social-linkedin {
      color: #0084B1; }

/*# sourceMappingURL=App.css.map */